:root {
    --azul-principal: #2563EB;
    --azul-claro: #60A5FA;
    --fundo: #F1F5F9;
    --branco: #FFFFFF;
    --cinza-escuro: #1E293B;
    --verde: #22C55E;
    --vermelho: #EF4444;
    --laranja: #F59E0B;
}

body {
    font-family: Arial, sans-serif;
    min-width: 320px;
    margin: 10px; 
    background: var(--fundo);
    color: var(--cinza-escuro);
    line-height: 1.6;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#menu ul {
    list-style: none;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding: 0;
}

#menu li {
    background: var(--azul-principal);
    border-radius: 8px;
    width: 100%; 
    transition: 0.3s;
}

#menu li:hover {
    background: var(--vermelho);
} 
#menu a {
    display: block;
    padding: 15px; 
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

main {
    background: var(--branco);
    padding: 20px;
    border-radius: 10px;
}

aside {
    margin-top: 20px;
    padding: 15px;
    /*background: var(--azul-claro);*/
    border-radius: 8px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem; 
}

@media (min-width: 601px) and (max-width: 1024px) {
    body {
        margin: 30px auto;
        max-width: 90%;
    }

    #menu ul {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    #menu li {
        width: auto;
    }
}

@media (min-width: 1025px) {
    body {
        max-width: 1100px;
        margin: 40px auto;
    }

    main {
        padding: 40px;
    }

    h1 {
        font-size: 2.5rem; 
    }

    #menu ul {
        flex-direction: row;
        justify-content: flex-end;
    }
}