:root {
    --azul-principal: #2563EB;
    --azul-claro: #60A5FA;
    --fundo: #F1F5F9;
    --branco: #FFFFFF;
    --cinza-escuro: #1E293B;
    --verde: #22C55E;
    --vermelho: #EF4444;
    --laranja: #F59E0B;
}

body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    min-width: 320px;
    margin: 40px auto;
    padding: 0 20px;
    background: var(--fundo);
    color: var(--cinza-escuro);
    line-height: 1.6;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: var(--azul-principal);
}

h2 {
    margin-top: 20px;
    color: var(--azul-principal);
}

p {
    margin-top: 8px;
    color: var(--laranja);
}

#menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin-top: 15px;
}

#menu li {
    background: var(--azul-principal);
    border-radius: 8px;
    /*transition: 0.3s;*/
}

#menu li:hover {
    background: var(--vermelho);
}

#menu a {
    display: block;
    padding: 10px 15px;
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    text-decoration: underline;
}

main {
    background: var(--branco);
    padding: 20px;
    border-radius: 10px;
}

aside {
    margin-top: 20px;
    padding: 10px;
    background: var(--fundo);
    border-radius: 8px;
    color: white;
}


footer {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

@media (max-width: 600px) {
    #menu ul {
        flex-direction: column;
        align-items: center;
    }

    body {
        margin: 20px auto;
    }
}